<p>Izberite laboratorij o katerem si želite ogledati podrobnosti:</p>

<div style="margin-bottom: 20px;">
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#li" aria-expanded="true" aria-controls="li">
    LI
  </button>

  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#lem" aria-expanded="false" aria-controls="lem">
    LEM
  </button>
    
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#lpt" aria-expanded="false" aria-controls="lpt">
    LPT
  </button>
    
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#liis" aria-expanded="false" aria-controls="liis">
    LIIS
  </button>
</div>

<div class="collapse in" id="li">
  <div class="well">
    <h4 style="font-weight: bold;">Laboratorij za informatiko <small>LI</small></h4>
    
    <!-- ........................................................................
        TODO: Tukaj lahko dodate informacije o laboratoriju 
         ........................................................................
    -->
  </div>
</div>

<div class="collapse" id="lem">
  <div class="well">
    <h4 style="font-weight: bold;">Laboratorij za e-medije <small>LEM</small></h4>
    
    <!-- ........................................................................
        TODO: Tukaj lahko dodate informacije o laboratoriju 
         ........................................................................
    -->
  </div>
</div>

<div class="collapse" id="lpt">
  <div class="well">
    <h4 style="font-weight: bold;">Laboratorij za podatkovne tehnologije <small>LPT</small></h4>
    
    <!-- ........................................................................
        TODO: Tukaj lahko dodate informacije o laboratoriju 
         ........................................................................
    -->
  </div>
</div>

<div class="collapse" id="liis">
  <div class="well">
    <h4 style="font-weight: bold;">Laboratorij za integracijo informacijskih sistemov <small>LIIS</small></h4>
    
    <!-- ........................................................................
        TODO: Tukaj lahko dodate informacije o laboratoriju 
         ........................................................................
    -->
  </div>
</div>